@import "../../../../scss/abstracts/variables";

.menu-group__title {
  padding: 16px 32px;
  letter-spacing: 0.02em;
  line-height: 16px;
  font-weight: 600;
  font-size: 12px;
  color: $neutral-black-500;
}