@import "../../scss/abstracts/variables";

.input {
  margin-bottom: 6px;
  position: relative;
  display: grid;
}

.input__field {
  outline: none;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #E1EBFA;
  box-sizing: border-box;
  padding: 16px;
  line-height: 20px;
  font-family: inherit;
  -webkit-appearance: none;
  font-size: inherit;
}

.input__label {
  transform: translateX(16px) translateY(16px);
  position: absolute;
  color: $neutral-black-500;
  background-color: #fff;
  transition: .25s ease;

  &_collapsed {
    transform: translateX(10px) translateY(-6px);
    padding: 0 9px;
    letter-spacing: 0.03em;
    line-height: 16px;
    font-weight: 700;
    font-size: 12px;
  }
}