@import "../../scss/abstracts/variables";

.view-page {
  box-sizing: border-box;
  padding-top: 100px;
  align-items: flex-end;
  display: grid;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.view-page__container {
  position: relative;
  padding-top: calc(48px);
}

.view-page__box {
  height: 100%;
  box-shadow: 0 0 125px 4px rgba(#000, .1);
  align-content: flex-start;
  display: grid;
  box-sizing: border-box;
  padding: 64px 32px 150px 32px;
  background-color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.view-page__avatar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid #fff;
  border-radius: 24px;
  overflow: hidden;
  height: 96px;
  width: 96px;

  .avatar {
    border-radius: 0;
    transform: scale(1.1);
  }
}

.view-page__content {
  row-gap: 36px;
  display: grid;
}

.view-page__information {
  text-align: center;
  row-gap: 8px;
  display: grid;
}

.view-page__username {
  line-height: 28px;
  font-weight: 700;
  font-size: 22px;
}

.view-page__description {
  line-height: 22px;
  color: $neutral-black-700;
}

.view-page__buttons {
  flex-wrap: wrap;
  justify-content: center;
  grid-auto-flow: column;
  display: flex;
}

.view-page__links {
  row-gap: 8px;
  display: grid;
}

.view-page__copyright {
  text-align: center;
  letter-spacing: -0.05px;
  line-height: 18px;
  font-size: 13px;
  color: $neutral-black-700;
}

.view-page__button {
  left: 16px;
  right: 16px;
  bottom: 24px;
  position: absolute;
  text-align: center;
  display: grid;
}