@import "../../../../scss/abstracts/variables";

.page-header {
  border-bottom: 1px solid #E1EBFA;
  box-sizing: border-box;
  padding: 0 26px;
}

.page-header__page-back {
  justify-content: center;
  align-items: center;
  display: grid;
  padding: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.page-header__content {
  padding: 14px 0;
  column-gap: 4px;
  align-items: center;
  grid-template-columns: 32px 1fr 32px;
  grid-auto-flow: column;
  display: grid;
}

.page-header__title {
  text-align: center;
  letter-spacing: -0.4px;
  font-weight: 700;
  font-size: 17px;
}

.page-header__footer {
  padding-bottom: 8px;
}